[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
vcrpy = "*"

[packages]
wiktionaryparser = "*"
lxml = "*"
yarl = "*"
jinja2 = "*"
click = "*"
colorama = "*"

[requires]
python_version = "3.8"
