<!DOCTYPE html>
<html>
<body>
<h1>
    {% raw %}
    {{c2::
    {% endraw %}
    {{word.word}}
    {% raw %}
    }}
    {% endraw %}
</h1>
<ul>
    {% for meaning in word.meanings %}
    <li class="list-item">
        {% raw %}
        {{c1::
        {% endraw %}
        {{ meaning.definition }}
        {% for example in meaning.examples %}
        <br>
        <em>{{ example }}</em>
        {% endfor %}
        {% raw %}
        }}
        {% endraw %}
    </li>
    {% endfor %}
</ul>
</body>
</html>